@import url(normalize.css);
@import url(webflow.css);
@import url(plantrain.webflow.css);
@import url(bootstrap.css);
@import url(bootstrap-theme.css);
@import url(hopscotch-0.1.2.css);

.liftButton {
	min-width: 20px;
	min-height: 20px;
}

.listButton {
	min-width: 20px;
	min-height: 20px;
}

.addButton {
	min-width: 20px;
	min-height: 20px;
}

.liftName {
	width: 75%;
}

.listName {
	width: 75%;
}

.popup {
  position: absolute;
  background-color:rgba(200, 200, 200, 1.0);
  right: 0px;
  z-index: 5;
  margin: 0px;
  min-width: 25%;
}

.popup2 {
  position: absolute;
  background-color:rgba(200, 200, 200, 1.0);
  right: 0px;
  top: 100%;
  z-index: 5;
  margin: 0px;
  border: 0px;
  min-width: 45%;
}

.myButton {
  background-image: url(../images/menu.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.addButton {
  background-image: url(../images/plus.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
	background-color: #ed730e;
}

.plusLink {
	width: 100%;
	height: 100%;
}

.backButton {
	cursor: pointer;
}

.searchbutton {
	display: inline-block;
}

.hiddenHelp {
	display: none;
}

.logo {
	height: 40%;
  width: 100%;
}

.logo img{
  margin-top: 2px;
	height:100%;
  width: 100%;
}

.buttonDiv {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 2%;
}

.searchBar {
	width: 100%;
  height: 100%;
}

#searchBarDiv {
  height: 7vh;
  display: none;
}

* {
	font-family: "Lucida Bright", Georgia, serif;
}

.group-override {
  margin: 0px;
  width: 12%;
  height: 100%;
}

.btn-toolbar > .btn-group {
  margin-left: 0px;
 
}

#pageName {
  width: 64%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

#pageName:hover {
  background-color: #FFF;
}

.container-fluid {
  width: 100%;
  position: absolute;
  height: 7vh;
  padding-right: 2%;
  padding-left: 2%;
  border: 0px;
}

.glyphicon {
  vertical-align: middle;
  top: 0;
  line-height: 0;
}

.btn-toolbar {
  margin-left: 0px;
}

.form-group {
  margin: 0px;
  height: 100%;
}

.navbar-form {
  padding: 0px;
  margin: 0px;
  border: 0px;
  height: 100%;
}

.input-group {
  height: 7vh;
}

.input-group-btn {
  height: 7vh;
}

.srch-term {
  height: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar {
  min-height: 0px;
}


#tableDiv {
  position: absolute;
  top: 7%;
  width: 100%;
}

#nav {
  height: 7%;
  margin: 0px;
}

.navbar-toggle {
  padding: 0px;
}

.toolbar-override{
  height: 100%;
}

.form-control {
  height: 7vh;
}

.nonexist {
  height: 100%;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 100%;
}

.button7 {
  height: 7vh;
}

.force7 {
  min-height: 7vh;
}

.hopscotch-bubble-container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.hopscotch-bubble {
  width: 100%;
}