<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 05 2014 06:41:42 GMT+0000 (UTC) -->
<html data-wf-site="52edd4c7672b98eb65000090">
<head>
  <meta charset="utf-8">
  <title>Plantrain</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/master.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->

</head>
<body>
  
  <div class="logo"><img id="Jim" src="../images/gym.png"></img></div>
  {{#if username}}
    <div class="buttonDiv"><a class="button" href="lifts" id="liftButton">Lifts</a>
    </div>
    <div class="buttonDiv"><a class="button liftlistbutton" href="liftlists" id="listButton">LiftLists</a>
    </div>
    <div class="buttonDiv"><a class="button shufflebutton" href="placeholder.html" id="shuffleButton">Shuffle</a>
    </div>
    <div class="buttonDiv"><a class="button storbutton" href="liftlists.html" id="storeButton">Store</a>
    </div>
  {{else}}
  	{{#if errorMessage}}
  		<script type="text/javascript">alert("That username is already in use! If it's yours, click the button below to go back and sign in.");</script>
  	{{/if}}
    {{#if showAlt}}
    <div id="formDiv">
    <form id="username-form" action="user_create" role="form">
      <div class="form-group">
        
        <input type="text" class="form-control input" name="username" placeholder="Username"><button type="submit" class="btn btn-default login buttonH">Create</button></input>
      </div>
      
    </form>
  </div>
  <div id="orDiv2">
      <p class="inline">- Or -</p>
    </div>
  <div id="signupCont"> 
      <button class="btn btn-default inline buttonH" onclick="goBack()">Go Back</button>
      <script type="text/javascript">
      function goBack() {
        window.location.replace('/');
      }
    </script>
    </div>
    
  {{else}}
    <form id="username-form" action="user_create" role="form">
	  <div class="form-group">
	    <label for="title">Select a username</label>
	    <input type="text" class="form-control" name="username" placeholder="username">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
    {{/if}}
  {{/if}}
  <script type="text/javascript" src="../js/jQuery.js"></script>
  <script type="text/javascript" src="../js/webflow.js"></script>
</body>
</html>


