<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 05 2014 06:41:42 GMT+0000 (UTC) -->
<html data-wf-site="52edd4c7672b98eb65000090">
<head>
  <script type="text/javascript" src="js/jQuery.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <meta charset="utf-8">
  <title>Plantrain</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/master.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  

  

  <script type="text/javascript" src="js/test.js"></script>
  <div class="logo"><img id="Jim" src="./images/gym.png"></img></div>
  {{#if username}}
    
    <div class="buttonDiv"><a class="button" href="lifts" id="liftButton">Lifts</a>
    </div>
    <div class="buttonDiv"><a class="button liftlistbutton" href="liftlists" id="listButton">Workouts</a>
    </div>
    <!--
    <div class="buttonDiv"><a class="button shufflebutton" href="placeholder.html" id="shuffleButton">Shuffle</a>
    </div>-->
    <div class="buttonDiv"><a class="button storbutton" href="store" id="storeButton">Store</a>
    </div>
    <div class="buttonDiv"><a class="button storbutton" href="user_history" id="histButton">My History</a>
    </div>
    <div class="buttonDiv"><a class="button storbutton" href="user_logout" id="logoutButton">Logout</a>
    </div>
  <script src="js/hopscotch-0.1.2.js"></script>
  <!--<script src="js/homeTour.js"></script>-->
  {{else}}
    {{#if showAlt}}
    {{#ifNonExist errorMessage}}
      <script type="text/javascript">alert("That username doesn't exist! You can create an account by clicking on the \"Sign Up\" button.");</script>
    {{/if}}
    <div id="signupCont"> 
      <button class="btn btn-default inline buttonH" onclick="create()">Sign Up</button>
      <script type="text/javascript">
      function create() {
        window.location.replace('create/b');
      }
    </script>
    </div>
    <div id="orDiv">
      <p class="inline">- Or -</p>
    </div>
    <div id="formDiv">
    <form id="username-form" action="user_login" role="form">
      <div class="form-group">
        
        <input type="text" class="form-control input inputHeightLock" name="username" placeholder="Username"><button type="submit" class="btn btn-default login buttonH">Login</button></input>
      </div>
      
    </form>
  </div>
    <!--
    <form id="username-form" action="user_login" role="form">
      <span class="form-group">
        <input type="text" class="form-control floatLeft" name="username" placeholder="Username">
        <button type="submit" class="btn btn-default floatRight">Sign In</button>
      </span>
    </form>
    <script type="text/javascript">
      function create() {
        window.location.replace('create/b');
      }
    </script>
    <div id="welcome" onclick="create()">
      <p>Welcome to <b>Gymplify</b>! Please sign in above or click on this box to create an account</p>
    </div>
  -->
    {{else}}
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
    <form id="username-form" action="user_login" role="form">
      <div class="form-group">
        <label for="title">Please Sign In</label>
        <input type="text" class="form-control" name="username" placeholder="username">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <a href="create">Create Account</a>
    {{/if}}
  {{/if}}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-48562782-1', 'cs147project.herokuapp.com');
    //ga('create', 'UA-48562782-1', { 'cookieDomain': 'none' });
    ga('send', 'pageview');

  </script>
</body>
</html>