<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 05 2014 06:41:42 GMT+0000 (UTC) -->
<html data-wf-site="52edd4c7672b98eb65000090">
<head>
  <meta charset="utf-8">
  <title>Plantrain</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/master.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <script type="text/javascript" src="js/jQuery.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <div class="logo"><img id="Jim" src="./images/gym.png"></img></div>
  {{#if username}}
    <div class="buttonDiv"><a class="button" href="lifts" id="liftButton">Lifts</a>
    </div>
    <div class="buttonDiv"><a class="button liftlistbutton" href="liftlists" id="listButton">LiftLists</a>
    </div>
    <!--
    <div class="buttonDiv"><a class="button shufflebutton" href="placeholder.html" id="shuffleButton">Shuffle</a>
    </div>-->
    <div class="buttonDiv"><a class="button storbutton" href="store" id="storeButton">Store</a>
    </div>
    <div class="buttonDiv"><a class="button storbutton" href="user_history" id="histButton">My History</a>
    </div>
    <div class="buttonDiv"><a class="button storbutton" href="user_logout" id="logoutButton">Logout</a>
    </div>
  <script src="js/hopscotch-0.1.2.js"></script>
  <!--<script src="js/homeTour.js"></script>-->
  {{else}}
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
    {{#if showAlt}}
    <form id="username-form" action="user_login" role="form">
      <span class="form-group">
        <input type="text" class="form-control floatLeft" name="username" placeholder="Username">
        <button type="submit" class="btn btn-default floatRight">Sign In</button>
      </span>
    </form>
    <script type="text/javascript">
      function create() {
        window.location.replace('create');
      }
    </script>
    <div id="welcome" onclick="create()">
      <p>Welcome to <b>Gymplify</b>! Please sign in above or click on this box to create an account</p>
    </div>
    {{else}}
    <form id="username-form" action="user_login" role="form">
      <div class="form-group">
        <label for="title">Please Sign In</label>
        <input type="text" class="form-control" name="username" placeholder="username">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <a href="create">Create Account</a>
    {{/if}}
  {{/if}}
  
</body>
</html>