@import url(normalize.css);
@import url(webflow.css);
@import url(plantrain.webflow.css);
@import url(bootstrap.css);
@import url(bootstrap-theme.css);
@import url(hopscotch-0.1.2.css);

.liftButton {
  width: 10%;
  height:100%;
}

.listButton {
  width: 10%;
  height:100%;
}

.addButton {
  width: 10%;
  height:100%;
}

.liftName {
  width: 90%;
  height: 100%;
}

.listName {
  width: 90%;
  height: 100%;
}

.popup {
  position: absolute;
  background-color:rgba(200, 200, 200, 1.0);
  right: 0px;
  z-index: 5;
  margin: 0px;
  min-width: 25%;
}

.popup2 {
  position: absolute;
  background-color:rgba(200, 200, 200, 1.0);
  right: 0px;
  top: 100%;
  z-index: 5;
  margin: 0px;
  border: 0px;
  min-width: 45%;
}

.dropDown {
  width: 10%;
  background-image: url(../images/expand.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.plusButton {
  width: 10%;
  background-image: url(../images/plus.png);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.plusLink {
  width: 100%;
  height: 100%;
}

.backButton {
  cursor: pointer;
}

.searchbutton {
  display: inline-block;
}

.hiddenHelp {
  display: none;
}

.logo {
  height: 40%;
  width: 100%;
}

.logo img{
  margin-top: 2px;
  height:100%;
  width: 100%;
}

.buttonDiv {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 2%;
}

.searchBar {
  width: 100%;
  height: 100%;
}

#searchBarDiv {
  height: 9vh;
  display: none;
}

* {
  font-family: "Lucida Bright", Georgia, serif;
}

.group-override {
  margin: 0px;
  width: 12%;
  height: 100%;
}

.btn-toolbar > .btn-group {
  margin-left: 0px;
 
}

#pageName {
  width: 64%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

#nonSearch {
  width: 76%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

.accHeight {
  height: 100%;
  margin: 0px;
}

.panel {
  border: 0px;
  margin: 0px;
}

#pageName:hover {
  background-color: #FFF;
}

.container-fluid {
  width: 100%;
  position: absolute;
  height: 9vh;
  border: 0px;
  padding: 0px;
}

.glyphicon {
  vertical-align: middle;
  top: 0;
  line-height: 0;
}

.btn-toolbar {
  margin-left: 0px;
}

.form-group {
  margin: 0px;
  height: 100%;
}

.navbar-form {
  padding: 0px;
  margin: 0px;
  border: 0px;
  height: 100%;
}

.input-group {
  height: 9vh;
}

.input-group-btn {
  height: 9vh;
}

.srch-term {
  height: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar {
  min-height: 0px;
}


#tableDiv {
  position: absolute;
  top: 9%;
  width: 100%;
}

#nav {
  height: 9%;
  margin: 0px;
}

.navbar-toggle {
  padding: 0px;
}

.toolbar-override{
  height: 100%;
}

.form-control {
  height: 9vh;
  width: 94vw;
}

.nonexist {
  height: 100%;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 100%;
}

.button7 {
  height: 9vh;
}

.force7 {
  min-height: 9vh;

}

.hopscotch-bubble-container {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.hopscotch-bubble {
  width: 100%;
}

.override {
  padding: 0px;
  margin: 0px;
  min-height: 9vh;
  width: 100%;
}

.rowName {
  width: 90%;
}

.itemName {
  height: 9vh;
  line-height: 9vh;
  padding-left: 3%;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.hiddenDiv {
  height: 9vh;
  width: 100%;
}

.panel-body {
  width: 100%;
  padding: 0px;
}

.expandedLift {
  width: 100%;
}

.statsContainer {
  width: 90%;
  float: left;
}

.buttonsContainer {
  width: 10%;
  float: right;
}

.liftButtons {
  width: 100%;
}

.innerLiftButton {
  height: 9vh;
  width: 100%;
}

.viewButton {
  width: 100%;
  background-image: url(../images/forward.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.doneButton {
  width: 100%;
  height: 7vh;
  background-image: url(../images/check.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.addButton {
  width: 100%;
  background-image: url(../images/plus.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.deleteButton {
  width: 100%;
  background-image: url(../images/delete.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.setRow {
  height: 6vh;
  width: 100%;
}

.buttonCell {
  width: 8%;
  height: 100%;
}

.setInfo {
  width: 92%;
  height: 100%;
}

.liftStats {
  width: 100%;
  min-height: 12vh;
}

.setButton {
  height: 6vh;
}

.full {
  height: 100%;
}

.set {
  margin-left: 5px;
}

.inline {
  display: inline-block;
}

.buttonUnder {
  font-size: 8pt;
  text-align: center;
}

.instr {
  margin-left: 10px;
}

.btnCont {
  text-align: center;
}

.button {
  display: block;
  width: 50%;
  height: 10%;
  margin-right: auto;
  margin-left: auto;
  padding: 2%;
  border-radius: 10px;
  background-color: ##ed730e;
  font-family: Georgia, serif;
  font-size: 150%;
  font-weight: 700;
}

#welcome {
  border: solid;
  border-width: 3px;
  border-color: #ed730e;
  margin-top: 10px;
}

.floatLeft {
  width: 74%;
  display: inline-block;
}

.floatRight {
  width: 25%;
  display: inline-block;
}

.inline {
  display: inline-block;
}

.login {
  position: relative;
  float: right;
}

.input {
  position: absolute;
  height: 10vh;
  border-radius: 10px;
}

#formDiv {
  margin-left: 3vw;
  margin-right: 3vw;
}

#signupCont {
  height: 10vh;
  text-align: center;
  padding-bottom: 2vh;
}

#orDiv {
  padding-top: 2vh;
  padding-bottom: 1vh;
  text-align: center;
}

.buttonH {
  height: 10vh;
  width: 30vw;
  background-image: none;
  background-color: #ed730e;
  padding: 2%;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  font-family: Georgia, serif;
  font-size: 150%;
  font-weight: normal;
  color: white;
}